################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/VirtoCommerce.Azure.ApiApp/bin
/VirtoCommerce.Azure.ApiApp/obj
/packages
/VirtoCommerce.Azure.ApiApp/Properties/PublishProfiles